* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    background-color: white;
    height: 500px;
    width: 650px;
    border-radius: 8px;
}

.card img {
    height: 100%;
    border-radius: 8px 0 0 8px;
}

.cardText {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 32px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color:hsl(228, 12%, 48%);
    font-weight: 700;
    letter-spacing: 6px;
    font-size: 14px; 
}

h2{
    font-family: 'Fraunces', serif;
    font-size: 30px;
    font-weight: bold;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: -44px;
}
.desc {
    font-family: 'Montserrat', sans-serif;
    color:hsl(228, 12%, 48%);
    font-weight: 700;
}

.sale {
    color:  hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 32px;
}

.orig {
    font-family: 'Montserrat', sans-serif;
    color:hsl(228, 12%, 48%);
    font-weight: 700;
    margin-left: -65px;
    
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 48px;
    width: 250px;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#cart{
    height: 20px;
    margin-right: 8px;
}
